# Vertailu etuuksien ja töiden välillä

In [26]:
import numpy as np

def vertailu(employment_state,tulo,age=50,g=0):
    min_retirementage=63.5
    if g<3: # miehet
        if age<30:
            kappa_outsider=0.20 #((30-age)*0.3)/10
            kappa_kokoaika=0.62 #((30-age)*0.45+(age-20)*0.87)/10
        else:
            if age<min_retirementage:
                kappa_outsider=0.20 +(age-30)*0.03
            else:
                kappa_outsider=0
            kappa_kokoaika=0.62
    else: # naiset
        if age<30:
            kappa_outsider=0.20 #((30-age)*0.3)/10
            kappa_kokoaika=0.58 #((30-age)*0.40+(age-20)*0.80)/10
        else:
            if age<min_retirementage:
                kappa_outsider=0.20 +(age-30)*0.03
            else:
                kappa_outsider=0
            kappa_kokoaika=0.58

    kappa_osaaika=1/2*kappa_kokoaika
    kappa_ve=0.65

    kappa_opiskelija=1.13

    mu=0.15 # how much penalty is associated with work increase with age after mu_age
    mu_age=60 
    min_student_age=20
    max_student_age=30

    if age>mu_age:
        kappa_kokoaika *= (1+mu*max(0,age-mu_age))
        kappa_osaaika *= (1+mu*max(0,age-mu_age))

    if employment_state == 1 or employment_state == 8:
        v=np.exp(-kappa_kokoaika)*tulo
    elif employment_state == 10 or employment_state == 9:
        v=np.exp(-kappa_osaaika)*tulo
    elif employment_state == 2:
        v=np.exp(kappa_ve)*tulo
    elif employment_state == 11:
        v=np.exp(kappa_outsider)*tulo
    elif employment_state == 12:
        if age<max_student_age:
            kappa=max(0.7,(max_student_age-max(min_student_age,age))/(max_student_age-min_student_age)*kappa_opiskelija)
            v=np.exp(kappa)*tulo
        elif age<60:
            kappa=0.7 # max(0,(60-max(30,age))/30)*0.4
            v=np.exp(kappa)*tulo
        else:
            v=tulo
    else:
        v=tulo
            
    return v
            
def vertaa_tilaa(tulo=1500):
    for g in set([0,4]):
        for emp1 in range(14):
            nettotulo=vertailu(emp1,tulo,g=g)

            print('g {} Tila {} netto {}'.format(g,emp1,nettotulo))

In [27]:
vertaa_tilaa(1500)

g 0 Tila 0 netto 1500
g 0 Tila 1 netto 806.9166563920118
g 0 Tila 2 netto 2873.3112435208445
g 0 Tila 3 netto 1500
g 0 Tila 4 netto 1500
g 0 Tila 5 netto 1500
g 0 Tila 6 netto 1500
g 0 Tila 7 netto 1500
g 0 Tila 8 netto 806.9166563920118
g 0 Tila 9 netto 1100.1704343364338
g 0 Tila 10 netto 1100.1704343364338
g 0 Tila 11 netto 3338.3113927387017
g 0 Tila 12 netto 3020.629061205715
g 0 Tila 13 netto 1500
g 4 Tila 0 netto 1500
g 4 Tila 1 netto 839.8475498481031
g 4 Tila 2 netto 2873.3112435208445
g 4 Tila 3 netto 1500
g 4 Tila 4 netto 1500
g 4 Tila 5 netto 1500
g 4 Tila 6 netto 1500
g 4 Tila 7 netto 1500
g 4 Tila 8 netto 839.8475498481031
g 4 Tila 9 netto 1122.395351367848
g 4 Tila 10 netto 1122.395351367848
g 4 Tila 11 netto 3338.3113927387017
g 4 Tila 12 netto 3020.629061205715
g 4 Tila 13 netto 1500

1.2214027581601699